---
import {getPageSanity} from 'src/api/procedures/cms/creators/page';
const { slug } = Astro.params;
import Component from 'src/components/Component.astro';

if(!slug){
    return Astro.redirect('/404')
}
const page = await getPageSanity({input: slug!});
if(!page){
    return Astro.redirect('/404')
}


---
<html>
<head>
    <title>{page.title!}</title>
    <meta charset="UTF-8">
    <meta name="description" content="Aquafin poc" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
</head>
<body>
{ page && page.components &&
        <Fragment>
            {page.components.map((component)=>{
                return <Component component={component}></Component>
            })}
        </Fragment>
}
</body>
</html>


<style is:global lang="scss">
  :root {
    --primary-color: #f1667b;
  }

  article {
    &:nth-of-type(odd){
      background: #EFEFEF;
    }
    &:nth-of-type(even){
      background: white;
    }
  }
</style>