---
import type {PageTitle} from 'src/api/procedures/cms/types';
interface Props {
    pageTitle: PageTitle;
}

const {pageTitle} = Astro.props;

---

<article class="w-full h-20 bg-gray-200">
    <p>{pageTitle.title}</p>
</article>

