---
import ComponentWrapper from 'src/components/Wrapper.astro';
import {getPageDrupal} from 'src/api/procedures/cms/creators/page';
import MainHeader from 'src/components/MainHeader.astro';
const { slug } = Astro.params;
const { lang } = Astro.params;
if(!slug || !lang){
    return Astro.redirect('/404')
}
const page = await getPageDrupal({input: `/${lang}/${slug}`});
if(!page){
    return Astro.redirect('/404')
}
---
{page &&
<html>
    <head>
        <title>{page.title!}</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <MainHeader></MainHeader>
        <main class="mt-[144px]">
            { page.components &&
                    <Fragment>
                        {page.components.map((component)=>{
                            return <ComponentWrapper component={component}></ComponentWrapper>
                        })}
                    </Fragment>
            }
        </main>
    </body>
</html>
    }


<style is:global lang="scss">
  article {
    &:nth-of-type(odd){
      background: #EFEFEF;
    }
    &:nth-of-type(even){
      background: white;
    }
  }
</style>