---
import ComponentWrapper from 'src/components/Wrapper.astro';
import {getPageDrupal} from 'src/api/procedures/cms/creators/page';
import MainHeader from 'src/components/MainHeader.astro';
import Breadcrumbs from 'src/components/Breadcrumbs.astro';
import {getBreadCrumbsDrupal} from 'src/api/procedures/cms/helpers/global';


const { slug } = Astro.params;

let lang = '';
if(!slug){
    return Astro.redirect('/404')
}
if(slug.startsWith('nl/') || slug.startsWith('en/')){
    lang = slug.split("/")[0]
}
const page = await getPageDrupal({slug: slug, lang: lang});
if(!page){
    return Astro.redirect('/404')
}

const breadCrumbs = await getBreadCrumbsDrupal(slug, true);
---
{page &&
<html>
    <head>
        <title>{page.title!}</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <MainHeader></MainHeader>
        <main class="mt-[144px]">
            <Breadcrumbs breadCrumbs={breadCrumbs}></Breadcrumbs>
            { page.components &&
                    <Fragment>
                        {page.components.map((component)=>{
                            return <ComponentWrapper component={component}></ComponentWrapper>
                        })}
                    </Fragment>
            }
        </main>
    </body>
</html>
    }


<style is:global lang="scss">
  article {
    &:nth-of-type(odd){
      background: #EFEFEF;
    }
    &:nth-of-type(even){
      background: white;
    }
  }
</style>