---
export const prerender = true;
import {getAllPages} from 'src/api/procedures/cms';
import type {IPage} from 'src/types/CMSInterfaces';
import ComponentWrapper from 'src/components/ComponentWrapper.astro';
export async function getStaticPaths() {
    const pages = await getAllPages();
    return pages.map((page) => ({
        params: { slug: page.title },
        props: page,
    }));
}

const page: IPage = Astro.props;
---

<main class="p-8">
    <h1>Pagina: {page.title}</h1>
    {page.components.map((component)=>{
        return <ComponentWrapper component={component}></ComponentWrapper>
    })}
    
</main>
<script>
</script>
