---
import {getAllPages} from 'src/api/procedures/cms/page';
export const prerender = true;
import ComponentWrapper from 'src/components/ComponentWrapper.astro';
import {Page} from 'src/api/procedures/cms/types';
export async function getStaticPaths() {
    const pages = await getAllPages();
    return pages.map((page) => ({
        params: { slug: page.title },
        props: page,
    }));
}

const page: Page = Astro.props;
---

<main class="p-8">
    <h1>Pagina: {page.title}</h1>
    {page.components.map((component)=>{
        return <ComponentWrapper component={component}></ComponentWrapper>
    })}
    
</main>
<script>
</script>
