---
import { fetchEntries } from '@builder.io/sdk-react';
const builderAPIpublicKey = import.meta.env.BUILDER_API_PUBLIC_KEY;

const pages = await fetchEntries({
    model: 'page',
    apiKey: builderAPIpublicKey
});

---

<html lang="en">
<head>
    <title>Blog Index</title>
</head>
<body>
<ul>
    {
        pages.map((page) => (
                <Fragment>
                    {page.data &&
                        <li>
                            <a href={page.data.url}>{page.data.title}</a>
                        </li>
                    }
                </Fragment>
        ))
    }
</ul>
</body>
</html>