---
import {getPage} from 'src/api/procedures/cms';
import ComponentWrapper from 'src/components/Wrapper.astro';
import {getHeaderDrupal} from 'src/api/procedures/cms/creators/page';
const { slug } = Astro.params;
import '@gdwc/components/menu';
import MainHeader from 'src/components/MainHeader.astro';
if(!slug){
    return Astro.redirect('/404')
}
const page = await getPage({input: slug!});
if(!page){
    return Astro.redirect('/404')
}

---
{page &&
<html>
    <head>
        <title>{page.title!}</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <MainHeader></MainHeader>
        <main class="mt-[144px]">
            { page.components &&
                    <Fragment>
                        {page.components.map((component)=>{
                            return <ComponentWrapper component={component}></ComponentWrapper>
                        })}
                    </Fragment>
            }
        </main>
    </body>

</html>
    }


<style is:global lang="scss">
  article {
    &:nth-of-type(odd){
      background: #EFEFEF;
    }
    &:nth-of-type(even){
      background: white;
    }
  }
</style>

<script type="module">
    import gdwcComponents from 'https://cdn.skypack.dev/@gdwc/components';
</script>