---
import {type BreadcrumbItem} from 'src/api/procedures/cms/helpers/global';
interface Props {
    breadCrumbs: BreadcrumbItem[];
}
const { breadCrumbs } = Astro.props;
---


<div class="breadcrumb">
    <div>
        <div>
            <nav>
                <div class="breadcrumb--items">
                    <ol>
                        {breadCrumbs.map((crumb, index)=>{
                            return(
                                <li>
                                    {index !== breadCrumbs.length-1 &&
                                            <a aria-label={crumb.text} href={crumb.href}>
                                                {crumb.text}
                                            </a>
                                    }
                                    {index === breadCrumbs.length-1 &&
                                        crumb.text
                                    }

                                </li>
                            )
                        })}
                    </ol>
                </div>
            </nav>
        </div>
    </div>
</div>

<style lang="scss">
    .breadcrumb{
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -webkit-text-size-adjust: 100%;
      font-family: 'Source Sans Pro',sans-serif;
      font-weight: 400;
      color: #4a4a4a;
      font-size: 16px;
      line-height: normal;
      box-sizing: border-box;
      
      &--items{
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -webkit-text-size-adjust: 100%;
        font-family: 'Source Sans Pro',sans-serif;
        font-weight: 400;
        color: #4a4a4a;
        font-size: 16px;
        line-height: normal;
        box-sizing: border-box;
        align-items: center;
        display: flex;
        
        >ol{
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          -webkit-text-size-adjust: 100%;
          font-family: 'Source Sans Pro',sans-serif;
          font-weight: 400;
          color: #4a4a4a;
          font-size: 16px;
          line-height: normal;
          box-sizing: border-box;
          margin: 0;
          padding-left: 0;
          display: inline-block;
          
          >li{
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -webkit-text-size-adjust: 100%;
            box-sizing: border-box;
            display: inline-block;
            font-family: 'Source Sans Pro',sans-serif;
            font-weight: 300;
            color: #0a1336;
            font-size: 0.875rem;
            line-height: 1.125rem;
            position: relative;
            text-decoration: none;
            
            >a{
              -webkit-font-smoothing: antialiased;
              text-rendering: optimizeLegibility;
              -webkit-text-size-adjust: 100%;
              box-sizing: border-box;
              font-family: 'Source Sans Pro',sans-serif;
              font-weight: 300;
              color: #0a1336;
              font-size: 0.875rem;
              line-height: 1.125rem;
              position: relative;
              text-decoration: none;
              
              &::after{
                background: url('/icons/forward-arrow.svg') no-repeat;
                background-size: contain;
                content: '';
                margin: 0 15px;
                display: inline-block;
                height: 6px;
                width: 6px;
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
              }
            }
          }
        }
      }
      
      > div {
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -webkit-text-size-adjust: 100%;
        font-family: 'Source Sans Pro',sans-serif;
        font-weight: 400;
        color: #4a4a4a;
        font-size: 16px;
        line-height: normal;
        box-sizing: border-box;
        align-items: center;
        background-color: #f2f2f2;
        position: relative;
        width: 100%;
        display: flex;
        height: 72px;
        justify-content: space-between;
        padding: 20px 30px;
      }
    }
</style>