<footer class="pb-20" role="contentinfo">
    <div class="footer--menu">
        <div>
            <div id="block-aquafinaddress">


                <div class="footer--address">
                    <div class="footer--logo">
                        <a href="https://www.aquafin.be/nl-be">
                            <svg xmlns="http://www.w3.org/2000/svg" width="462" height="335" class="svg footer--logo-svg replaced-svg" viewBox="0 0 335 462"><g fill="none" fill-rule="evenodd"><path d="M64.9 302.6L58.6 284H24.2l-6.3 18.6H.3l31.8-90.8h19.8l32.4 90.8H64.9zm-19.4-56.3c-1.7-5-3.1-9.4-4.2-14.5h-.1c-1.1 4.7-2.6 10-4.3 15.2l-8.2 23.1H54l-8.5-23.8zm88.9 88.7v-30.3c0-3.6.1-8.6.9-12.9l-.3-.1c-3.5 7.7-10.9 12.4-19.8 12.4-16 0-24.8-10.8-24.8-31.4 0-22.6 12.9-38.2 36.5-38.2 9.4 0 17.2.8 24.5 2V335h-17zm0-86c-2.8-.5-5.7-.9-9-.9-9.8 0-16.8 6.2-16.8 22.7 0 12.5 3.6 19 11.3 19 9 0 14.5-10.5 14.5-22.2V249zm76.7 53.6c0-3.1.1-8.3.8-11.8l-.1-.1c-4 7.9-11.7 13.5-22.7 13.5-15.1 0-19.9-9.7-19.9-21.4v-47h17.1v42.8c0 7 1.9 11.2 8.3 11.2 8.7 0 15.5-10 15.5-21.7v-32.3h17.2v66.9h-16.2v-.1zm233.4 0v-42.8c0-7-1.9-11.2-8.2-11.2-8.7 0-15.6 10-15.6 21.7v32.3h-17.2v-66.9h16.3c0 3.1-.3 8.3-.9 11.8l.1.1c4-7.9 11.8-13.5 22.7-13.5 15.1 0 19.9 9.7 19.9 21.4v47h-17.1v.1zm-162.1-.4c0-3.9.1-7.7.7-11.2l-.1-.1c-3.2 7.5-11.3 12.7-21.2 12.7-12 0-18.9-6.8-18.9-17.4 0-15.9 15.7-24.3 38.2-24.3v-3.6c0-6.9-4.4-10.7-12.6-10.7-5 0-10.9.7-18.5 2.7l-1.8-13.4c9.6-1.7 15-2.3 22.6-2.3 21.3 0 27.3 8.7 27.3 23.1v27.6c0 5.3.1 11.6.4 17.1h-16.1v-.2zm-1.3-29.3c-18 0-22 5.2-22 10.5 0 4.3 2.9 7.1 7.9 7.1 8.4 0 14.1-8 14.1-16v-1.6zm75.2-55.8c-1.6-.1-3.7-.2-6.3-.2-7.5 0-10.9 4.3-10.9 13.2v5.6h15.6V249h-15.6v53.5H322V249h-11.7v-13.3H322v-5.4c0-18.1 8.3-27 26.6-27 3.6 0 6.9.1 10.5.5l-2.8 13.3zm20 10c-5.9 0-10.6-4.7-10.6-10.5 0-5.6 4.7-10.4 10.6-10.4 5.9 0 10.7 4.6 10.7 10.4 0 5.8-4.8 10.5-10.7 10.5zm-8.6 8.6h17.2v66.8h-17.2v-66.8z" fill="#FFF"></path><path d="M154.8 186.6c2.3-4.9 5.7-9.9 11-15.3 26-26 45.4-6.6 71.5-32.6s6.5-45.5 32.5-71.5 45.5-6.5 71.5-32.5c5.3-5.2 8.7-10.2 11-15.1L332.8.2c-2.3 4.8-5.7 9.8-11 15.1-26 26-45.5 6.5-71.5 32.5s-6.4 45.6-32.4 71.7c-26 26-46.6 7.3-71.7 32.4-5.3 5.3-8.7 10.4-10.9 15.4l19.5 19.3z" fill="#009FE3"></path><path d="M186 217.8c2.3-4.9 5.7-9.9 11-15.3 26-26 45.4-6.6 71.4-32.6 26-26 6.5-45.5 32.5-71.5s45.5-6.5 71.5-32.5c5.3-5.2 8.7-10.2 11-15.1L364 31.4c-2.3 4.9-5.7 9.8-11 15.1-26 26-45.5 6.5-71.5 32.5s-6.4 45.6-32.4 71.7c-26 26-46.6 7.3-71.7 32.4-5.3 5.3-8.7 10.5-10.9 15.4l19.5 19.3z" fill="#3ABFF0"></path><path d="M312.2 109.7c-5.2 5.2-8.6 10.1-10.8 14.9l19.5 19.5c2.3-4.8 5.7-9.7 10.9-14.9 26-26 45.5-6.5 71.5-32.5 5.3-5.3 8.7-10.2 11-15.1l-19.5-19.5c-2.3 4.8-5.7 9.8-11 15.1-26.1 26-45.6 6.5-71.6 32.5" fill="#B4E1FA"></path></g></svg>
                        </a>
                    </div>
                    <span itemscope="" itemprop="organization" itemtype="http://schema.org/Organization">
    <p>Aquafin NV<br>
Dijkstraat 8<br>
B-2630 Aartselaar<br>
tel. 03 450 45 11</p>

<p class="mt-2">contactcenter<br>
03 450 45 45</p>

<p class="mt-2">noodnummer<br>
0800 16 603</p>

<p class="mt-2 underline"><a class="text-[var(--primary-color)]" href="https://www.openbedrijvendagvirtueel.be/virtual-tour/aquafin/rioolwaterzuiveringsinstallatie" target="_blank" title="Virtuele rondleiding op Voka Open Bedrijvendag">Bezoek Aquafin virtueel</a></p>
  </span>
                </div>

            </div>
            <div class="footer_menu--items" id="block-footermenu">


                <div>
                    <ul class="menu">
                        <li class="menu-item menu-item--expanded">
                            <a href="/nl-be/particulieren" data-drupal-link-system-path="node/11288">Particulieren</a>
                            <div class="menu_expander"></div>
                            <ul class="menu">
                                <li class="menu-item">
                                    <a href="/nl-be/jobs" data-drupal-link-system-path="node/16550">Vacatures</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/nl-be/jobs/zoek-een-vacature/ontvang-vacatures-op-maat" data-drupal-link-system-path="node/25626">Inschrijven op jobletter</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/nl-be/particulieren/waar-werken-we" data-drupal-link-system-path="node/11242">Rioleringswerken in je buurt</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/nl-be/particulieren/contacteer-ons/faq" data-drupal-link-system-path="node/11307">FAQ</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/nl-be/over-aquafin/brochures-aanvragen" data-drupal-link-system-path="node/891">Abonneren op Aqua</a>
                                </li>
                            </ul>

                        </li>
                        <li class="menu-item menu-item--expanded">
                            <a href="/nl-be/bedrijven" data-drupal-link-system-path="node/11289">Bedrijven</a>
                            <div class="menu_expander"></div>
                            <ul class="menu">
                                <li class="menu-item">
                                    <a href="/nl-be/bedrijven/opdrachten" data-drupal-link-system-path="node/11255">Opdrachten bekijken</a>
                                </li>
                                <li class="menu-item menu-item--collapsed">
                                    <a href="/nl-be/bedrijven/veilig-werken-en-technische-richtlijnen" data-drupal-link-system-path="node/122">Veiligheidsinstructies</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/nl-be/bedrijven/partnerportaal" data-drupal-link-system-path="node/11267">Naar partnerportaal</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/nl-be/over-aquafin/industriele-waterzuivering" data-drupal-link-system-path="node/4924">Industriële waterzuivering</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/nl-be/bedrijven/klokkenluidersregeling" data-drupal-link-system-path="node/35774">Klokkenluidersregeling</a>
                                </li>
                            </ul>

                        </li>
                        <li class="menu-item menu-item--expanded">
                            <a href="/nl-be/rioolbeheerders" data-drupal-link-system-path="node/11292">Rioolbeheerders</a>
                            <div class="menu_expander"></div>
                            <ul class="menu">
                                <li class="menu-item">
                                    <a href="/nl-be/rioolbeheerders/voor-alle-gemeenten-en-rioolbeheerders/een-match-tussen-gemeentelijke-en-bovengemeentelijke-investeringen" data-drupal-link-system-path="node/36016">Matchmaker voor jouw gemeente</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/nl-be/rioolbeheerders/voor-alle-gemeenten-en-rioolbeheerders/zo-hou-je-het-rioolstelsel-in-goede-conditie" data-drupal-link-system-path="node/11388">Het rioolstelsel in goede conditie</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/nl-be/rioolbeheerders/voor-alle-gemeenten-en-rioolbeheerders/contacteer-je-accountmanager" data-drupal-link-system-path="node/36584">Contacteer je accountmanager</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/nl-be/rioolbeheerders/partnerportaal" data-drupal-link-system-path="node/11384">Partnerportaal</a>
                                </li>
                            </ul>

                        </li>
                        <li class="menu-item menu-item--expanded">
                            <a href="/nl-be/onderwijs" data-drupal-link-system-path="node/11290">Onderwijs</a>
                            <div class="menu_expander"></div>
                            <ul class="menu">
                                <li class="menu-item">
                                    <a href="/nl-be/onderwijs/in-de-kijker/educatief-materiaal" data-drupal-link-system-path="node/137">Lesmateriaal over waterzuivering</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/nl-be/onderwijs/secundair-onderwijs/tweede-en-derde-graad/aanvraag-rondleiding" data-drupal-link-system-path="node/11283">Rondleiding zuiveringsinstallatie aanvragen</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/nl-be/onderwijs/hoger-onderwijs/stage-thesisbegeleiding-of-staalaanvraag" data-drupal-link-system-path="node/25835">Stage, thesisbegeleiding of staalaanvraag</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/nl-be/onderwijs/in-de-kijker/aquafin-komt-naar-je-klas-leer-alles-over-waterzuivering" data-drupal-link-system-path="node/36086">Les waterzuivering in je klas aanvragen</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/nl-be/over-aquafin/innovatie/aquafin-als-onderzoekspartner" data-drupal-link-system-path="node/36131">Aquafin als onderzoekspartner</a>
                                </li>
                            </ul>

                        </li>
                        <li class="menu-item menu-item--expanded">
                            <a href="/nl-be/investor-relations" data-drupal-link-system-path="node/11293">Investor relations</a>
                            <div class="menu_expander"></div>
                            <ul class="menu">
                                <li class="menu-item">
                                    <a href="/nl-be/zo-wil-aquafin-riolering-en-waterzuivering-betaalbaar-houden" title="Lees hier onze prioriteiten voor de komende jaren" data-drupal-link-system-path="node/36527">Memorandum</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/nl-be/investor-relations/jaarverslagen" data-drupal-link-system-path="node/10883">Jaarverslagen</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/nl-be/investor-relations/corporate-governance" data-drupal-link-system-path="node/287">Corporate Governance</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/nl-be/over-aquafin/duurzaam-ondernemen" data-drupal-link-system-path="node/20995">Duurzaam ondernemen</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/nl-be/contact/pers" data-drupal-link-system-path="node/11399">Pers</a>
                                </li>
                            </ul>

                        </li>
                    </ul>


                </div>

            </div>

        </div>

    </div>
    

</footer>

<style lang="scss">
    footer {
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -webkit-text-size-adjust: 100%;
      font-family: 'Source Sans Pro',sans-serif;
      font-weight: 400;
      color: #4a4a4a;
      font-size: 16px;
      line-height: normal;
      box-sizing: border-box;
      background-color: #0a1336;
      margin-top: -1px;
      position: relative;
      z-index: 999;
      
      .footer{

        &--menu{
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          -webkit-text-size-adjust: 100%;
          font-family: 'Source Sans Pro',sans-serif;
          font-weight: 400;
          color: #4a4a4a;
          font-size: 16px;
          line-height: normal;
          box-sizing: border-box;

          >div{
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -webkit-text-size-adjust: 100%;
            font-family: 'Source Sans Pro',sans-serif;
            font-weight: 400;
            color: #4a4a4a;
            font-size: 16px;
            line-height: normal;
            box-sizing: border-box;
            padding: 55px 70px 0;
            display: flex;
            width: 100%;
            flex-direction: row;
            z-index: 100;
          }
        }

        #block-aquafinaddress{
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          -webkit-text-size-adjust: 100%;
          font-family: 'Source Sans Pro',sans-serif;
          font-weight: 400;
          color: #4a4a4a;
          font-size: 16px;
          line-height: normal;
          box-sizing: border-box;
        }

        &--address{
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          -webkit-text-size-adjust: 100%;
          font-family: 'Source Sans Pro',sans-serif;
          font-weight: 400;
          color: #4a4a4a;
          font-size: 16px;
          line-height: normal;
          box-sizing: border-box;
          list-style: none;
          transition: width 0.15s ease;
          order: 0;
          padding: 0;
          width: 238px;
          margin-right: 0;
          
          >span{
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -webkit-text-size-adjust: 100%;
            font-family: 'Source Sans Pro',sans-serif;
            font-weight: 400;
            color: #4a4a4a;
            font-size: 16px;
            line-height: normal;
            list-style: none;
            box-sizing: border-box;
            
            >p{
              -webkit-font-smoothing: antialiased;
              text-rendering: optimizeLegibility;
              -webkit-text-size-adjust: 100%;
              list-style: none;
              box-sizing: border-box;
              font-family: 'Source Sans Pro',sans-serif;
              font-weight: 400;
              color: #9b9b9b;
              font-size: 0.875rem;
              line-height: 1.25rem;
              
            }
          }
        }

        &--logo{
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          -webkit-text-size-adjust: 100%;
          font-family: 'Source Sans Pro',sans-serif;
          font-weight: 400;
          color: #4a4a4a;
          font-size: 16px;
          line-height: normal;
          list-style: none;
          box-sizing: border-box;
          display: inline-block;
          margin: 0 80px 0 0;
          width: 78px;
          
          >a{
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -webkit-text-size-adjust: 100%;
            font-family: 'Source Sans Pro',sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: normal;
            list-style: none;
            box-sizing: border-box;
            display: block;
            height: 100%;
            width: 100%;
            
            >svg{
              -webkit-font-smoothing: antialiased;
              text-rendering: optimizeLegibility;
              -webkit-text-size-adjust: 100%;
              font-family: 'Source Sans Pro',sans-serif;
              font-weight: 400;
              font-size: 16px;
              line-height: normal;
              list-style: none;
              box-sizing: border-box;
              height: 100%;
              width: 100%;
            }
          }
        }
        
      }
      
      .footer_menu{
        &--items{
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          -webkit-text-size-adjust: 100%;
          font-family: 'Source Sans Pro',sans-serif;
          font-weight: 400;
          color: #4a4a4a;
          font-size: 16px;
          line-height: normal;
          box-sizing: border-box;
          width: 100%;
          
          >div{
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -webkit-text-size-adjust: 100%;
            font-family: 'Source Sans Pro',sans-serif;
            font-weight: 400;
            color: #4a4a4a;
            font-size: 16px;
            line-height: normal;
            box-sizing: border-box;
            
            >ul{
              -webkit-font-smoothing: antialiased;
              text-rendering: optimizeLegibility;
              -webkit-text-size-adjust: 100%;
              font-family: 'Source Sans Pro',sans-serif;
              font-weight: 400;
              color: #4a4a4a;
              font-size: 16px;
              line-height: normal;
              box-sizing: border-box;
              padding: 0;
              display: flex;
              width: 100%;
              flex-direction: row;
              z-index: 100;
              
              >li{
                -webkit-font-smoothing: antialiased;
                text-rendering: optimizeLegibility;
                -webkit-text-size-adjust: 100%;
                font-family: 'Source Sans Pro',sans-serif;
                font-weight: 400;
                color: #4a4a4a;
                font-size: 16px;
                line-height: normal;
                box-sizing: border-box;
                list-style: none;
                margin-right: 20px;
                position: relative;
                flex-grow: 1;
                border-bottom: 0;
                padding: 0;
                
                >a{
                  -webkit-font-smoothing: antialiased;
                  text-rendering: optimizeLegibility;
                  -webkit-text-size-adjust: 100%;
                  line-height: normal;
                  list-style: none;
                  box-sizing: border-box;
                  font-size: 1.125rem;
                  height: 55px;
                  padding: 0;
                  font-family: 'Source Sans Pro',sans-serif;
                  font-weight: 700;
                  color: #fff;
                  cursor: pointer;
                  display: block;
                  position: relative;
                  text-decoration: none;
                }
                
                >ul{
                  -webkit-font-smoothing: antialiased;
                  text-rendering: optimizeLegibility;
                  -webkit-text-size-adjust: 100%;
                  font-family: 'Source Sans Pro',sans-serif;
                  font-weight: 400;
                  color: #4a4a4a;
                  font-size: 16px;
                  line-height: normal;
                  list-style: none;
                  box-sizing: border-box;
                  display: block;
                  padding: 0;
                  
                  >li{
                    -webkit-font-smoothing: antialiased;
                    text-rendering: optimizeLegibility;
                    -webkit-text-size-adjust: 100%;
                    font-family: 'Source Sans Pro',sans-serif;
                    font-weight: 400;
                    color: #4a4a4a;
                    font-size: 16px;
                    line-height: normal;
                    box-sizing: border-box;
                    list-style: none;
                    margin-right: 20px;
                    
                    >a{
                      -webkit-font-smoothing: antialiased;
                      text-rendering: optimizeLegibility;
                      -webkit-text-size-adjust: 100%;
                      list-style: none;
                      box-sizing: border-box;
                      font-family: 'Source Sans Pro',sans-serif;
                      font-weight: 400;
                      display: block;
                      text-decoration: none;
                      color: #fff;
                      font-size: 0.875rem;
                      line-height: 1.75rem;
                      padding-left: 0;
                    }
                  }
                }
              }
            }
            
          }
        }
        
      }
    }
</style>