---
import type {Header} from 'src/api/procedures/cms/types';
interface Props {
    header: Header;
}
const api = import.meta.env.STRAPI_URL;
const {header} = Astro.props;

---

<article class="w-full h-[200px] bg-red-500">
    <h1>Header</h1>
    {header.title}
</article>

