---
import { type Link } from 'src/api/procedures/cms/creators/link/link.types.ts';

interface Props {
    link: Link
}

const {link} = Astro.props;
---

<a class="link" href={link.url}>{link.content}</a>