---
import type {IPageTitle} from 'src/types/CMSInterfaces';
interface Props {
    pageTitle: IPageTitle;
}

const {pageTitle} = Astro.props;

---

<article class="w-full h-20 bg-gray-200">
    <p>{pageTitle.title}</p>
</article>

