---
import {type Text} from 'src/api/procedures/cms/types';
interface Props {
    text: Text
}

const {text} = Astro.props;
---

<div class="content--paragraph-tta">
    <div class="paragraph-tta-text">
        <Fragment set:html={text.text}></Fragment>
    </div>
</div>

<style lang="scss" is:global>
    .content--paragraph-tta{
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -webkit-text-size-adjust: 100%;
      font-family: 'Source Sans Pro',sans-serif;
      font-weight: 400;
      color: #4a4a4a;
      font-size: 16px;
      line-height: normal;
      box-sizing: border-box;
    }
    
    .paragraph-tta-text{
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -webkit-text-size-adjust: 100%;
      font-family: 'Source Sans Pro',sans-serif;
      font-weight: 400;
      color: #4a4a4a;
      font-size: 16px;
      line-height: normal;
      box-sizing: border-box;
      margin: 40px 90px;
      
      
      >h3{
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -webkit-text-size-adjust: 100%;
        line-height: normal;
        box-sizing: border-box;
        margin: 0;
        font-family: 'Source Sans Pro',sans-serif;
        font-weight: 600;
        color: #0a1336;
        font-size: 1.875rem;
        padding-bottom: 10px;
      }
      
      >p{
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -webkit-text-size-adjust: 100%;
        box-sizing: border-box;
        font-family: 'Source Sans Pro',sans-serif;
        font-weight: 400;
        color: #4a4a4a;
        font-size: 1.125rem;
        line-height: 2.813rem;
      }
      
      >ul{
        margin-left: 50px;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -webkit-text-size-adjust: 100%;
        font-family: 'Source Sans Pro',sans-serif;
        font-weight: 400;
        color: #4a4a4a;
        font-size: 16px;
        line-height: normal;
        box-sizing: border-box;
        
        >li{
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          -webkit-text-size-adjust: 100%;
          font-family: 'Source Sans Pro',sans-serif;
          font-weight: 400;
          color: #4a4a4a;
          box-sizing: border-box;
          line-height: 1.5rem;
          list-style: none;
          padding-bottom: 10px;
          position: relative;
          font-size: 1.125rem;
          
          &::before{
            background-clip: padding-box;
            border-radius: 50%;
            background-color: #4a4a4a;
            content: '';
            height: 3px;
            left: -25px;
            position: absolute;
            top: 9px;
            width: 3px;
          }
        }
      }
    }
    
</style>