---
import Footer from 'src/components/Footer.astro';
export const prerender = true;
import Component from '../../components/Component.astro';
import {type Page} from 'src/api/procedures/cms/types';
import {getAllPagesStrapi} from 'src/api/procedures/cms/creators/page';
import MainHeaderStrapi from 'src/components/MainHeaderStrapi.astro';
import Breadcrumbs from 'src/components/Breadcrumbs.astro';
import {getBreadCrumbsStrapi} from 'src/api/procedures/cms/helpers/global';
export async function getStaticPaths() {
    const pages = await getAllPagesStrapi();
    return pages.map((page) => ({
        params: { slug: page.slug },
        props: page,
    }));
}

const page: Page = Astro.props;
const breadCrumbs = await getBreadCrumbsStrapi(page.slug, page.lang, false);
---
<html>
    <head>
        <title>{page.title}</title>
        <meta charset="UTF-8">
    </head>
    <body>
            {page.components.map((component)=>{
                return <Component component={component}></Component>
            })}
    </body>
</html>

<style is:global lang="scss">
  article {
    &:nth-of-type(odd){
      background: #EFEFEF;
    }
    &:nth-of-type(even){
      background: white;
    }
  }
</style>